<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kareem.newme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News.NewsEditor"
            android:label="@string/title_activity_news_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".News.NewsDetails"
            android:label="@string/title_activity_news_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Authentication.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chatting.Messages.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FAQ.FAQEditor"
            android:label="@string/title_activity_faqeditor"
            android:theme="@style/AppTheme" />

        <service android:name=".services.NewMeMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.NewMeInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".News.ImageViewFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_view_full_screen"
            android:theme="@style/FullscreenTheme"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="426249733f33a1b54fcf36674e648247bb96fa7c"
            tools:replace="android:value" />
    </application>

</manifest>